body{
  font-family: 'Montserrat-Regular', sans-serif;

}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height:1.5;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;

}

p{
  color: #8f8f8f;
}

#title{
  background-color:#ff4c68;
  color:#fff;
}

.navbar{
  padding-bottom: 4.5rem;
}
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size:2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

/* Download button */
.download-button{
  margin:5% 3% 5% 0;
}

/* Tittle Image */

.tittle-img-div{
  position:relative;
}
.title-img{
  width:60%;
  transform: rotate(25deg);
  margin-left: 100px;
  position: absolute;
}

.container-fluid{
  padding:3% 15% 7%;
}
s

/* Features section */

#features{
  padding: 7% 15%;
}
.fk{
  position: relative;
  z-index:1;
  background-color: white;
}
.feature-box{
  text-align: center;
  padding: 5%;
}

.icon{
  color:#ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}


/* Testimonial section */

#testimonials{
  text-align: center;
  background-color: #ef8172;
  color:#fff;
  position: relative;
}

.testimonial-image{
  width:10%;
  border-radius: 100%;
  margin:20px;
}

.carousel-item{
  padding:7% 15%;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
  width:15%;
  margin:20px 20px 50px;
}


/* Pricing Section */
#pricing{
  padding:100px;
  text-align: center;
}

.column-pricing{
  padding: 3% 2%;
}

/* Call Of Action */
#cta{
  padding-top: 80px;

  text-align: center;
  background-color: #ff4c68;
  font-family: 'Montserrat', sans-serif;
}

/* Footer */
#footer{
  text-align: center;
}
.smicons{
  color:#000;
  padding-top: 80px;
  padding-bottom: 10px;
  padding-left: 8px;
  padding-right: 8px;
}
.copyright{
  padding: 20px;
}
@media(max-width: 1028px){

  #title{
    text-align: center;
  }

  .title-img{
    position: static;
    transform: rotate(0);
  }
}
